/* Page-wide styles */
@font-face {
    font-family: 'C4A';
    src:url('../fonts/c4a-all-icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/c4a-all-icons.eot'),
         url('../fonts/c4a-all-icons.ttf');
}

body {
    background-color: #dddddd;
}
.gpii-fd,
.gpii-fd p {
    font-size: 2.5rem; /*base font size */
    padding: 0 2rem;
}

.gpii-fd {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #425165; /* blue-grey */
    padding: 0.2rem;
    width: 36rem;
    margin: 0 auto;
}
.gpii-fd:focus {
    border: 3px solid red;
}
.gpii-fd button {
    color: inherit;
    background-color: inherit;
    font-size: inherit;
}
.gpii-fd-icon {
    font-family: "C4A";
    font-size: 3rem;
}

.gpii-fd-hidden-accessible {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Top section, with mute and help buttons */
.gpii-fd-topButtons {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.gpii-fd-help,
.gpii-fd-mute {
    border: 0.2rem solid #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    line-height: 2rem;
}

.gpii-fd-mute .gpii-fd-icon:before {
    content: "\e64f";
    padding: 0.5rem;
    position: relative;
}

/* Main section, containing adjuster and instructions */
.gpii-fd-main {
    display: none; /* hidden unless active */
    color: #425165; /* blue-grey */
    background-color: #ffffff;
    padding: 1.5rem;
    min-height: 22rem;
}

.gpii-fd-main.gpii-fd-current {
    display: inherit;
}

/* controls */
/* to try to keep the +/- buttons centred in the page,
 * look at http://css-tricks.com/snippets/css/a-guide-to-flexbox/
 * for ideas */

.gpii-fd-controls {
    height: 15rem;
    padding-top: 2rem;
}

.gpii-fd-control-label {
    color: inherit;
    background-color: inherit;
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    line-height: 5rem;
    height: 6rem;
}

/* tts yes/no controls */
/* currently not used - clean up once TTS panel is implemented */
.gpii-fd-choice {
    margin-bottom: 0.3rem;
}
.gpii-fd-yesNo {
    font-size: inherit;
    display: inline-block;
    width: 14rem;
    text-align: center;
    color: #ffffff;
    background-color: #425165; /* blue-grey */
    border-radius: 7px;
}
.gpii-fd-indicator {
    width: 1rem;
    display: inline-block;
}

.gpii-fd-choice input:checked + .gpii-fd-indicator {
    /* Arrow pointing right. */
    width: 0;
    height: 0;
    border-top: 1.25rem solid transparent;
    border-bottom: 1.25rem solid transparent;
    border-left: 1rem solid #fed73a;
}

.gpii-fd-choice input:checked ~ .gpii-fd-indicator.gpii-fd-yesNo {
    color: #fed73a; /* yellow */
}

/* theme controls */
.gpii-fd-theme {
    font-size: inherit;
    display: inline-block;
    width: 22rem;
    text-align: center;
    color: #ffffff;
    background-color: #425165; /* blue-grey */
    border: 0.2rem solid #000;
}
.gpii-fd-theme-default {
    color: #425165; !important;
    background-color: #eeeeee !important;
    border-color: #425165 !important;
}
.gpii-fd-theme-bw {
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: #000000 !important;
}
.gpii-fd-theme-wb {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

/* text size increase/decrease controls */
.gpii-fd-increase, .gpii-fd-decrease {
    width: 6rem;
    height: 6rem;
    color: #ffffff;
    background-color: #425165; /* blue-grey */
    border: 0.2rem solid #fff;
    border-radius: 0.7rem;
    box-shadow: 0 0 0.3rem #000;
    font-size: 4rem;
    margin-bottom: 1rem;
}

/* vertical 'range status' indicator beside adjuster */
.gpii-fd-status {
    padding-right: 0;
    height: 100%;
    width: 2rem;
    margin-right: 1rem;
    border: 0.2rem solid #425165; /* blue-grey */
}
.gpii-fd-statusFill {
    position: relative;
    background-color: #425165;
    width: inherit;
    -webkit-transform:rotate(180deg);
    -webkit-transform-origin: 100% 0%;
    left: -4.2rem;
    top: 12.4rem;
    height: 0;
}

/* Navigation section at bottom, containing back/next and icons */
.gpii-fd-navButtons {
    color: #425165; /* blue-grey */
    background-color: #ffffff;
}
.gpii-fd-navButtons-back, .gpii-fd-navButtons-next {
    border: none;
    visibility: hidden;
}

.gpii-fd-navButtons-back .gpii-fd-icon:before,
.gpii-fd-navButtons-next .gpii-fd-icon:after {
    background-color: #425165; /* blue-grey */
    color: #ffffff;
    border-radius: 2rem;
    position: relative;
    top: 0.3rem;
    padding: 0.5rem;
}
.gpii-fd-navButtons-back .gpii-fd-icon:before {
    content:  "\e603";
    left: -0.3rem;
}

.gpii-fd-navButtons-next .gpii-fd-icon:after {
    content: "\e605";
    left: 0.5rem;
}
.gpii-fd-navButtons:after {
  content:"";
  display:table;
  clear:both;
}
.gpii-fd-navIcons {
    clear: both;
    margin-top: 0.8rem; /* gap between main body and icons*/
}
.gpii-fd-navIcon {
    padding: 0.6rem 1rem 1rem 1rem;
    color: #425165; /* blue-grey */
    background-color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    width: 5rem;
    height: 5rem;
    font-family: "C4A" !important;
    font-size: 3rem;
    margin: 0.2rem 0.6rem 0 0;
    text-transform: none;
    line-height: initial;
}
.gpii-fd-lang:before {
    content: "\e62a";
}
.gpii-fd-volume:before {
    content: "\e650";
}
.gpii-fd-text:before {
    content: "\e648";
}
.gpii-fd-contrast:before {
    content: "\e613";
}

/* status/navigation styles */
.gpii-fd-doneIndicator,
.gpii-fd-activeIndicator {
    visibility: hidden; /* use visibility instead of display to maintain positioning */
}

.gpii-fd-activeIndicator{
    width: 0;
    height: 0;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-top: 1rem solid #fff;
    margin: -5.5rem auto 3rem auto;
}

.gpii-fd-show {
    visibility: visible;
}
.gpii-fd-doneIndicator:before {
    content:  "\e60f";
    font-size: 2rem;
    color: #ffffff;
    background-color: #279841;
    border-radius: 2rem;
    border: 1px solid #ffffff;
    margin-left: -2rem;
}
.gpii-fd-active {
    background-color: #fed73a;
}

/* Tooltips */
.gpii-fd-tooltip {
    width: auto;
    max-width: 5em;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: #fed73a;
}
