/* Page-wide styles */
@font-face {
    font-family: 'PGA-FD';
    src:url('../fonts/pga-fd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pga-fd.eot'),
         url('../fonts/pga-fd.ttf');
}

body {
    background-color: #dddddd;
}
.gpii-fd,
.gpii-fd p {
    font-size: 2.25rem; /*base font size */
    padding: 0 2rem;
}

.gpii-fd {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #425165; /* blue-grey */
    padding: 0.2rem;
    width: 36rem;
    margin: 0 auto;
}

button {
    color: inherit;
    background-color: inherit;
    font-size: inherit;
}

.gpii-fd *:disabled:hover,
.gpii-fd *:disabled:focus,
.gpii-fd *:disabled:active,
.gpii-fd *:disabled {
    background-color: #6C6D70;
    border-color: #6C6D70;
    color: #fff;
    opacity: 1.0;
}

.gpii-fd-icon {
    font-family: "PGA-FD";
    font-size: 3rem;
}

.gpii-fd-hidden-accessible {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Top section, with mute and help buttons */
.gpii-fd-topButtons {
    padding: 1rem 1rem 0 1rem;
}

.gpii-fd-help,
.gpii-fd-mute {
    border: 0.2rem solid #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    line-height: 2rem;
    height: 4.5rem;
}
.gpii-fd-mute {
    width: 23rem;
}
.gpii-fd-mute .gpii-fd-icon:before {
    font-size: 4rem;
    position: relative;
    left: -0.8rem;
}

.gpii-fd-selfVoicing-unmuted .gpii-fd-mute .gpii-fd-icon:before {
    content: "\e601";
}
.gpii-fd-selfVoicing-muted .gpii-fd-mute .gpii-fd-icon:before {
    content: "\e60a";
    font-size: 3.5rem;
    left: -0.5rem;
}

/* hide the selfVoicing toggle on the congratulations page */
.gpii-fd-lastPanel .gpii-fd-selfVoicing {
    display: none;
}

.gpii-fd-help:hover,
.gpii-fd-mute:hover {
    background-color: inherit;
    border-width: 0.4rem;
    padding: 0.8rem;
}

.gpii-fd-help:focus,
.gpii-fd-mute:focus {
    border: 0.2rem solid #fff; /* Yellow */
    box-shadow: 0 0 0 0.4rem rgb(244, 215, 75), /* Yellow */
                0 0 0 0.6rem rgb(0, 0, 0);
    outline: none;
}

.gpii-fd-help:active,
.gpii-fd-mute:active {
    background-color: #fff;
    color: #425165;
}

/* Main section, containing adjuster and instructions */
.gpii-fd-main {
    display: none; /* hidden unless active */
    color: #425165; /* blue-grey */
    background-color: #ffffff;
    padding: 1.5rem;
    height: 31rem;
}

.gpii-fd-main.gpii-fd-current {
    display: inherit;
}
.gpii-fd-instructions {
    line-height: 1;
}

.gpii-fd-instructions p {
    line-height: 1.4;
    padding: 0;
}
/* controls */
/* to try to keep the +/- buttons centred in the page,
 * look at http://css-tricks.com/snippets/css/a-guide-to-flexbox/
 * for ideas */

.gpii-fd-controls {
    height: 22rem;
    padding-top: 1rem;
}

.gpii-fd-controls .gpii-fd-label-max,
.gpii-fd-controls .gpii-fd-label-min {
    margin-bottom: 1rem;
}
.gpii-fd-control-label {
    color: inherit;
    background-color: inherit;
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    line-height: 5rem;
    height: 6rem;
}

/* speakText yes/no controls */
.gpii-fd-choice {
    margin-bottom: 0.6rem;
}

.gpii-fd-yesNo {
    font-size: inherit;
    display: inline-block;
    width: 14rem;
    text-align: center;
    color: #ffffff;
    background-color: #425165; /* blue-grey */
    border-radius: 0.7rem;
    margin-left: -0.6rem;
    padding: 0.7rem;
    border: 0.2rem solid #ffffff;
}
.gpii-fd-yesNo:hover {
    background-color: #425165; /* blue-grey, to override foundation's blue */
    box-shadow: 0 0 0 0.04rem rgb(255,255,255), /* white */
                0 0 0 0.6rem rgb(72, 82, 100); /*blue-grey */
}

.gpii-fd-choice input:focus ~ .gpii-fd-yesNo {
    background-color: #425165; /* blue-grey */
    border: 0.2rem solid #fed73a; /* Yellow */
    box-shadow: 0 0 0 0.2rem rgb(244, 215, 75), /* Yellow */
                0 0 0 0.6rem rgb(0, 0, 0);
    outline: none;
}

.gpii-fd-yesNo:active {
    background-color: #fff;
    color: #425165; /* blue-grey */
    border: 0.2rem solid #fff;
    box-shadow: 0 0 0 0.4rem rgb(72, 82, 100); /* blue-grey */
}

.gpii-fd-indicator {
    width: 1rem;
    display: inline-block;
    position: relative;
    top: 0.5rem;
    left: -2.1rem;
}

.gpii-fd-choice input:checked ~ .gpii-fd-yesNo {
    color: #fed73a;
}

.gpii-fd-choice input:checked:active ~ .gpii-fd-yesNo {
    color: #425165;
}

.gpii-fd-choice input:checked + .gpii-fd-indicator:before {
    content: "\e600";
}

.gpii-fd-choice input:checked ~ .gpii-fd-indicator.gpii-fd-yesNo {
    color: #fed73a; /* yellow */
}

/* theme controls */
.gpii-fd-theme {
    font-size: inherit;
    display: inline-block;
    width: 20rem;
    text-align: center;
    color: #ffffff;
    background-color: #425165; /* blue-grey */
    border: 0.2rem solid #000;
}
.gpii-fd-theme-default {
    color: #425165 !important;
    background-color: #eeeeee !important;
    border-color: #425165 !important;
}
.gpii-fd-theme-bw {
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: #000000 !important;
}
.gpii-fd-theme-wb {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

/* text size increase/decrease controls */
.gpii-fd-increase, .gpii-fd-decrease {
    width: 6rem;
    height: 6rem;
    color: #ffffff;
    background-color: #425165; /* blue-grey */
    border: 0.1rem solid #fff;
    border-radius: 0.7rem;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.gpii-fd .gpii-fd-increase:focus,
.gpii-fd .gpii-fd-decrease:focus {
    background-color: #425165; /* blue-grey */
    border: 0.1rem solid #fed73a; /* Yellow */
    box-shadow: 0 0 0 0.2rem rgb(244, 215, 75), /* Yellow */
                0 0 0 0.6rem rgb(0, 0, 0);
    outline: none;
}

.gpii-fd .gpii-fd-increase:active,
.gpii-fd .gpii-fd-decrease:active {
    background-color: #fff;
    color: #425165; /* blue-grey */
    border: 0.1rem solid #fff;
    box-shadow: 0 0 0 0.4rem rgb(72, 82, 100); /* blue-grey */
}

.gpii-fd-increase .gpii-fd-icon:before,
.gpii-fd-decrease .gpii-fd-icon:before {
    font-size: 4rem;
    position: relative;
    top: -0.4rem;
    left: -1.1rem;
}
.gpii-fd-increase .gpii-fd-icon:before {
    content: "\e603";
}
.gpii-fd-decrease .gpii-fd-icon:before {
    content: "\e604";
}
.gpii-fd-increase:hover,
.gpii-fd-decrease:hover {
    background-color: #425165; /* blue-grey, to override foundation's blue */
    box-shadow: 0 0 0 0.04rem rgb(255,255,255), /* white */
                0 0 0 0.6rem rgb(72, 82, 100); /*blue-grey */
}

/* vertical 'range status' indicator beside adjuster */
.gpii-fd-status {
    padding-right: 0;
    height: 100%;
    width: 1.75rem;
    margin-right: 1rem;
    border: 0.2rem solid #425165; /* blue-grey */
}
.gpii-fd-statusFill {
    position: relative;
    background-color: #425165;
    width: inherit;
    height: 0;
}
.gpii-fd-statusFillContainer {
    position: relative;
    width: inherit;
    -webkit-transform:rotate(180deg);
    -webkit-transform-origin: 100% 0%;
    left: -3.7rem;
    top: 11.7rem;
    height: 12rem;
}
.gpii-fd-statusFillMin {
    position: relative;
    background-color: #425165;
    width: inherit;
    -webkit-transform:rotate(180deg);
    -webkit-transform-origin: 100% 0%;
    left: -3.7rem;
    height: 0.5rem;
    top: 12.4rem;
}

/* Navigation section at bottom, containing back/next and icons */
.gpii-fd-navButtons {
    color: #425165; /* blue-grey */
    background-color: #ffffff;
}
.gpii-fd-navButtons-back, .gpii-fd-navButtons-next {
    border-radius: 0.5rem;
    visibility: hidden;
    background-color: #425165; /* blue-grey */
    color: #ffffff;
    padding: 1rem;
    line-height: 2rem;
    height: 4.2rem;
}
.gpii-fd-navButtons-back {
    padding-left: 0;
    margin: 0 0 1rem 1rem;
}
.gpii-fd-navButtons-next {
    padding-right: 0;
    margin: 0 1rem 1rem 0;
}
.gpii-fd-navButtons-back:hover,
.gpii-fd-navButtons-next:hover {
    background-color: #425165; /* blue-grey, to override foundation's blue */
    box-shadow: 0 0 0 0.1rem rgb(255,255,255), /* white */
                0 0 0 0.6rem rgb(72, 82, 100); /*blue-grey */
}
.gpii-fd-navButtons-back:focus,
.gpii-fd-navButtons-next:focus {
    background-color: #425165; /* blue-grey */
    box-shadow: 0 0 0 0.4rem rgb(244, 215, 75), /* Yellow */
                0 0 0 0.6rem rgb(0, 0, 0);
    outline: none;
}
.gpii-fd-navButtons-back .gpii-fd-icon:before,
.gpii-fd-navButtons-next .gpii-fd-icon:after {
    position: relative;
    font-size: 4rem;
}
.gpii-fd-navButtons-back .gpii-fd-icon:before {
    content:  "\e606";
}

.gpii-fd-navButtons-next .gpii-fd-icon:after {
    content: "\e605";
}
.gpii-fd-navButtons:after {
  content:"";
  display:table;
  clear:both;
}
.gpii-fd-navIcons {
    clear: both;
    margin: 0 2rem;
    margin-top: 1.5rem; /* gap between main body and icons*/
}
.gpii-fd-navIcon {
    padding: 0.5rem;
    color: #425165; /* blue-grey */
    background-color: #ffffff;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    font-family: "PGA-FD" !important;
    font-size: 5rem;
    margin: 0.2rem -0.3rem 0 0;
    text-transform: none;
    line-height: initial;
}
.gpii-fd-lang:before {
    content: "\e608";
}
.gpii-fd-volume:before {
    content: "\e609";
}
.gpii-fd-text:before {
    content: "\e60b";
}
.gpii-fd-contrast:before {
    content: "\e60c";
}

.gpii-fd-prefsEditor-panel-contrast label {
    margin-bottom: 0.4rem;
}

.gpii-fd-prefsEditor-panel-contrast label:hover {
    background-color: #425165; /* blue-grey, to override foundation's blue */
    box-shadow: 0 0 0 0.04rem rgb(255,255,255), /* white */
                0 0 0 0.6rem rgb(72, 82, 100); /*blue-grey */
}

.gpii-fd-prefsEditor-panel-contrast input:focus ~ label {
    background-color: #425165; /* blue-grey */
    border: 0.2rem solid #fed73a; /* Yellow */
    box-shadow: 0 0 0 0.2rem rgb(244, 215, 75), /* Yellow */
                0 0 0 0.6rem rgb(0, 0, 0);
    outline: none;
}

/* status/navigation styles */
.gpii-fd-confirmedIndicator,
.gpii-fd-activeIndicator {
    visibility: hidden; /* use visibility instead of display to maintain positioning */
}

.gpii-fd-activeIndicator{
    width: 0;
    height: 0;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-top: 1.5rem solid #fff;
    margin: -7.2rem auto 3rem auto;
}

.gpii-fd-show {
    visibility: visible;
}
.gpii-fd-confirmedIndicator:before {
    content:  "\e607";
    font-size: 2rem;
    color: #279841;
    background-color: #ffffff;
    border-radius: 2rem;
    border: 1px solid #ffffff;
    margin-left: -2rem;
    position: relative;
    top: -1rem;
}
.gpii-fd-active {
    background-color: #fed73a; /* Yellow */
}
.gpii-fd-active .gpii-fd-activeIndicator {
    visibility: visible;
}

/* Tooltips */
.gpii-fd-tooltip {
    width: auto;
    max-width: 7em;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: #fed73a;
    bottom: -1rem;
}

/* Keyboard screens */
input[type="text"].gpii-fd-keyboard-input {
    font-size: 2rem;
    padding: 2rem 1rem;
    width: 28rem;
    margin: 0 auto;
    border: 3px solid #425165;
    border-radius: 7px;
    background-color: #eeeeee;
}
input[type="text"].gpii-fd-keyboard-input::-webkit-input-placeholder {
    color: #425165;
}
input[type="text"].gpii-fd-keyboard-input:focus {
    border: 0.2rem solid #fff; /* Yellow */
    box-shadow: 0 0 0 0.4rem rgb(244, 215, 75), /* Yellow */
                0 0 0 0.6rem rgb(0, 0, 0);
    outline: none;
}
.gpii-fd-keyboard-assistanceHide {
    visibility: hidden;
}
.gpii-fd-keyboard-try,
.gpii-fd-keyboard-accomodationToggle {
    border-radius: 0.5rem;
    background-color: #425165; /* blue-grey */
    color: #ffffff;
    padding: 1rem;
    line-height: 2rem;
    height: 4.2rem;
}
.gpii-fd-keyboard-try,
.gpii-fd-keyboard-accomodationToggle {
    margin: 0 1rem 1rem 0;
}
.gpii-fd-keyboard-try:hover,
.gpii-fd-keyboard-accomodationToggle:hover {
    background-color: #425165; /* blue-grey, to override foundation's blue */
    box-shadow: 0 0 0 0.1rem rgb(255,255,255), /* white */
                0 0 0 0.6rem rgb(72, 82, 100); /*blue-grey */
}
.gpii-fd-keyboard-try:focus,
.gpii-fd-keyboard-accomodationToggle:focus {
    background-color: #425165; /* blue-grey */
    box-shadow: 0 0 0 0.4rem rgb(244, 215, 75), /* Yellow */
                0 0 0 0.6rem rgb(0, 0, 0);
    outline: none;
}
.gpii-fd-keyboard:before {
    content: "\e60e";
}
.gpii-fd-keyboard-shift-indicator .gpii-fd-keyboard-shift-indicatorLabel {
    padding: 0.4rem;
    background-color: #767675;
    border-radius: 7px;
    color: #FFFFFF;
    margin-left: 21.75rem;
}
.gpii-fd-keyboard-shift-indicator {
    visibility: hidden;
    margin-top: -3.3rem;
}
.gpii-keyboardInput-shiftLatched ~ .gpii-fd-keyboard-shift-indicator {
    visibility: visible;
}
